// @import './main.scss';

.Login {
    height: 100%;
    width: 100%;

    .row {
        height: 100%;
    }

    .graphic {
        background-image: url("../images/login-left-graphic.png");
        background-size: cover;
        background-position: center;
    }

    .form {
        padding-top: 40px;
        padding-right: 40px;

        .logo {
            width: 264px;
            position: absolute;
            right: 40px;
        }
    }
}
