$menu-collapse-width: 1250px;
$page-header-menu-collapse-width: 780px;
$header-height: 45px;

.Header {
    // position: relative;

    .logo-container {
        height: 180px;
        background-image: url("../images/header-top.png");
        background-size: cover;
        background-position: center;

        &.spacing {
            margin-bottom: $header-height;
        }

        .logo-banner {
            width: 330px;
            height: 114px;
            padding: 30px 76px 28px;
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            @include element-center;

            @include media-breakpoint-down(lg) {
                width: 292px;
                height: 114px;
                padding: 25px 60px 23px;
            }

            @include media-breakpoint-down(md) {
                width: 292px;
                height: auto;
                padding: 25px 60px 23px;
            }

            img {
                width: 178px;
                height: 56px;
                @include element-center;

                @include media-breakpoint-down(lg) {
                    width: 140px;
                    height: auto;
                }

                @include media-breakpoint-down(md) {
                    width: 110px;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            height: 150px;
        }

        @include media-breakpoint-down(md) {
            height: 130px;
        }
    }

    .menu {
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $primary-color;
        @include flex(flex-start, center);
        z-index: 9999;

        &.fixed {
            position: fixed;
            top: 0;
        }

        .nav {
            height: 100%;

            &.nav-pages {
                & > li {
                    height: 100%;

                    a {
                        @include flex(flex-start, center);
                        height: 100%;
                        padding: 15px 20px;
                        font-size: 14px;
                        color: white;

                        &.active {
                            margin-top: -10px;
                            height: 55px;
                            color: $dark;
                            font-weight: bold;
                            background-color: white;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            @include flex(flex-end, flex-end);

                            img {
                                color: $secondary-color;
                            }
                        }

                        img {
                            color: white;
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }

                @include breakpoint-down($menu-collapse-width) {
                    display: none;
                }

                .nav-item-dropdown {
                    background: $primary-color;
                    height: 100%;

                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        background: $primary-color;
                        z-index: 1;

                        &.main-list {
                            height: 100%;
                            @include flex(stretch, stretch, column);

                            & > li {
                                flex: 1 1 0%;
                                display: flex;
                                flex-direction: column;
                                position: relative;
                            }

                            a {
                                position: relative;
                                display: block;
                                padding: 12px 15px;
                                font-size: 14px;
                                font-weight: bold;
                                color: white;
                                transition: all 0.3s ease-out;

                                &.has-arrow {
                                    padding-right: 40px;
                                    height: $header-height;
                                    text-decoration: none;
                                }

                                img {
                                    color: white;
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            &.nav-icons {
                & > li {
                    height: 100%;

                    a {
                        @include flex(flex-start, center);
                        height: 100%;
                        padding: 15px 18px;

                        @include media-breakpoint-down(sm) {
                            padding: 15px 10px;
                        }
                    }
                }
            }
        }

        .mobile-nav {
            background: $primary-color;
            width: 200px;
            height: 100%;
            display: none;

            @include breakpoint-down($menu-collapse-width) {
                display: block;
            }

            @include breakpoint-down(500px) {
                width: 150px;
            }

            @include breakpoint-down(400px) {
                width: 130px;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                background: $primary-color;
                z-index: 1;

                &#menu {
                    height: 100%;
                    @include flex(stretch, stretch, column);

                    & > li {
                        flex: 1 1 0%;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                    }

                    a {
                        position: relative;
                        display: block;
                        padding: 12px 15px;
                        font-size: 14px;
                        font-weight: bold;
                        color: white;
                        transition: all 0.3s ease-out;

                        &.has-arrow {
                            height: $header-height;
                        }

                        img {
                            color: white;
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;

                            @include breakpoint-down(500px) {
                                display: none;
                            }
                        }

                        @include breakpoint-down(500px) {
                            font-size: 12px;
                            padding: 12px 10px;
                        }

                        @include breakpoint-down(400px) {
                            font-size: 10px;
                            @include flex(flex-start, center);
                        }
                    }
                }
            }
        }

        .divider {
            height: 25px;
            width: 1px;
            margin: 0 10px;
            background-color: white;
        }

        .logo {
            height: 20px;
            width: 63px;
            margin-left: auto;

            @include breakpoint-down(400px) {
                display: none;
            }
        }
    }

    .page-header {
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        @include flex(space-between, center);

        &.fixed {
            margin-top: $header-height;
        }

        .title {
            margin: 0;
            padding: 0;
            color: $dark;
            font-size: 16px;
            font-weight: bold;
            font-family: $secondary-font;

            @include breakpoint-down(400px) {
                font-size: 14px;
            }
        }

        .page-header-mobile {
            background: white;
            width: 140px;
            height: 100%;
            display: none;

            @include breakpoint-down($page-header-menu-collapse-width) {
                display: block;
            }

            @include breakpoint-down(400px) {
                width: 120px;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                background: white;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
                margin-top: 10px;
                z-index: 1;

                &#page-header-menu {
                    display: flex;
                    flex-direction: column;
                    box-shadow: none;

                    & > li {
                        flex: 1 1 0%;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                    }

                    a {
                        position: relative;
                        display: block;
                        padding: 5px 15px;
                        font-size: 14px;
                        font-weight: bold;
                        color: $dark;
                        transition: all 0.3s ease-out;

                        @include breakpoint-down(400px) {
                            font-size: 12px;
                        }

                        img {
                            color: white;
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .details {
            @include flex(center, center);

            @include breakpoint-down($page-header-menu-collapse-width) {
                display: none;
            }

            .search-input {
                width: 260px;
                position: relative;

                input {
                    width: 100%;
                    padding: 5px 22px;
                    font-family: $secondary-font;
                    font-weight: normal;
                    font-size: 14px;
                    color: $dark;
                    border-radius: 20px;
                    border: 1px solid $gray-3;
                    outline: none !important;

                    &::placeholder {
                        font-family: $secondary-font;
                        font-weight: 300;
                        font-size: 11px;
                        color: $gray-4;
                    }
                }

                img {
                    position: absolute;
                    top: 6px;
                    right: 15px;
                }
            }

            .nav li {
                padding: 10px 12px;
                @include flex(center, center);
            }

            img.Avatar {
                margin-left: 20px;
            }
        }
    }

    .page-header-external {
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $primary-color;
        z-index: 999;
        @include flex(space-between, center);

        &.fixed {
            position: fixed;
            top: 0;
        }

        .title {
            margin: 0;
            padding: 0;
            color: white;
            font-size: 16px;
            font-weight: 300;
            font-family: $secondary-font;

            @include breakpoint-down(400px) {
                font-size: 14px;
            }
        }
    }

    .metismenu .has-arrow:after {
        transform: rotate(-135deg) translateY(-50%);
        transform-origin: top;
        top: 50%;
        transition: all 0.3s ease-out;
    }

    .metismenu .has-arrow[aria-expanded="true"]:after,
    .metismenu .mm-active > .has-arrow:after {
        transform: rotate(45deg) translateY(-50%);
    }
}
