.Box {
    min-height: 170px; // NOTE:: Remove min-height if it already has content
    padding: 15px 20px;
    background-color: white;
    border-radius: 8px;

    .box-title {
        margin: 0;
        font-family: $primary-font;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    hr {
        margin-top: 15px;
        margin-bottom: 15px;
        border-color: $gray-3;
    }
}
