.Checkbox {
    label {
        @include flex(flex-start, center);
        max-width: 200px;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;

        &::selection {
            color: none;
            background: none;
        }

        &::-moz-selection {
            color: none;
            background: none;
        }

        input {
            display: none;
        }

        span {
            margin-right: 10px;
            height: 18px;
            width: 18px;
            border: 1px solid $dark;
            display: inline-block;
            position: relative;
            flex-shrink: 0;
        }

        [type="checkbox"]:checked + span:before {
            content: url(../images/check.svg);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            height: 100%;
        }
    }
}
